.tab-sm-pad {
    /*font-size: 15px;*/
/*    padding: 10px !important;*/
}

.pall-tb-15 {
    padding: 15px 0;
}

.click-active {
    background-color: #f44336 !important;
}

.click-active-gray {
    background-color: #eee !important;
}

@media (max-width: 575.98px) {
    .tab-sm-pad {
        /*font-size: 12px;*/
/*        padding: 5px !important;*/
    }

    #target-value {
        text-align: end;
    }

    #progressBar {
        width: 43%;
    }
}

@media (max-width: 575.98px) {
    #progressBar {
        width: 38%;
    }
}